<a href="https://colab.research.google.com/github/aysenaozcan/DA-Hardskills/blob/master/Da_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 0:
#A bag can contain 5 items and there ara 12 full bags.
#Task 1: Calculate how many items we have
print(5*12)

60

In [ ]:
#Task 2:
#If we want to store our items in different bags which can carry 7 items. How many items cannot fit the bags?
print(60%7)

4

In [ ]:
a=1 #int
b=1.2 #float
c="sena" #string

In [ ]:
#Question 1:
#Create a variable called "var1" by calculating the square of 25,
var1= 25**2
print(var1, type(var1))
#And create a variable called "var2" by cakcukating 3452 dividing by 1.6
var2= 3452/1.6
print(var2, type(var2))
#Task 3: Print types of each variable and print teh comparisin of these two types
print("Type of var1:", type(var1))
print("Type of var2:", type(var2))

625 <class 'int'>
2157.5 <class 'float'>
Type of var1: <class 'int'>
Type of var2: <class 'float'>

In [ ]:
print("Var1:{}, Var2:{}".format(type(var1),type(var2)))

Var1:<class 'int'>, Var2:<class 'float'>

In [ ]:
print(type(var1)==type(var2))

False

In [ ]:
5==5

True

In [ ]:
#Question 2:
#By using the given "words" list, print("Data Science Week 2")
words=[2, 1, "Data","Science","Week"]
print(words)
print(words[1])
print(words[1:3])
print(len(words))
print[int(len(words)/2)] #Indexes must be integer values.
print(words[1:5:2]) #two by two
print(words[-2])

[2, 1, 'Data', 'Science', 'Week']
1
[1, 'Data']
5
[1, 'Science']
Science

In [ ]:
#Question 3:
#Compute given expression below by using values x,y  and assign the result to variable "out"
#Expression: x^3+5xy+1-y^2
x=1.5
y=10
out=x**3 +5*x*y +1-y**2
out

-20.625

In [ ]:
#Question 4:
num1=int(input("Please enter a value:"))
print(num1)
num2=int(input("Please enter a value:"))
print(num2)

Please enter a value:4
4

In [ ]:
#Question 5:
sentence="I love this DA-3 program ."
print(sentence)
sentence[2:6] #is one of the indexes in the space

I love this DA-3 program .

'love'

In [ ]:
s_list=sentence.split()
print(s_list)
print(s_list[1])
len(s_list)

['I', 'love', 'this', 'DA-3', 'program', '.']
love

6

In [ ]:
#Question 6:
#Print summer months by slicing given list "months"
months= [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]
print(months[5:8])

['June', 'July', 'August']

In [ ]:
"-".join(months[5:8])

'June-July-August'

In [ ]:
#Question 7:
#Print last three months in the same line  and add "-" between elements
print("-".join(months[9:12]))
print("-".join(months[-3:])) #last 3 items
"-".join(months[-1::-1]) #Start from the end, skip them one by one

October-November-December
October-November-December

'December-November-October-September-August-July-June-May-April-March-February-January'

In [ ]:
#Question 8:
print(sorted(months))
print(sorted(months[:3])) #first three months

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']
['February', 'January', 'March']

In [ ]:
#Question 9:
#Score Board ordered as high scores. Find the position of "Tuna". And change Tuna's position to
score_board=["Yeliz","Ahmet","Cagri","Tuna","Alp"]
index=score_board.index("Tuna")
print(index)
temp=score_board[index]
print(temp)
score_board.pop(index)
score_board

3
Tuna

['Yeliz', 'Ahmet', 'Cagri', 'Alp']

In [ ]:
score_board.insert(0, temp)
score_board

['Tuna', 'Yeliz', 'Ahmet', 'Cagri', 'Alp']

In [ ]:
#Question 10:
#dictionary "days" contains 5 week-days and lectures for each day. Print Thuesday's lecture.
days = {
    "Monday": "Calculus",
    "Tuesday": "Int. Data Science",
    "Wednesday": "Statistics",
    "Thursday": "Modern Art",
    "Friday": "Advanced Programming"
}
days['Tuesday']

'Int. Data Science'

In [ ]:
#Question 11:
#The dictionary "scores" contains grades of three students. Print Anil's maximum grade.
scores = {
    "Alp": [46, 89, 100],
    "Irem": [34, 90, 89],
    "Anil": [10, 68, 65]
}

print(max(scores["Anil"]))

68

In [ ]:
#Question 12:
# dictionary items hold item ids as keys and properties as values
# ids list contains product ids
# find the greatest id in ids list and print its stock value

ids = [83, 98, 67]

items = {
    83: {
        "stock": 100,
        "price": 89.08
    },
    98: {
        "stock": 7546,
        "price": 23.12
    },
    67: {
        "stock": 70,
        "price": 4.5
    }
}
max_id=max(ids)
items[max_id]["stock"]

7546

In [ ]:
# QUESTION 13:
# dictionary items hold item ids as keys and properties as values
# ids list contains product ids
# find the smallest id in ids list and calculate max money you can get by selling all the stock
# if you make 35% discount, calculate new result
# print results in format "Max Money: ... , With Discount: ..."

# smallest id
min_id = min(ids)

# max money = stock * price
max_money = items[min_id]["stock"] * items[min_id]["price"]
print(max_money)

# make 35% discount
discounted_money = max_money * 0.65
print(discounted_money)

315.0
204.75