<a href="https://colab.research.google.com/github/aysenaozcan/DA-Hardskills/blob/master/Da_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
 #Fonksiyon ile faktoriyel hesaplama
def faktoriyel(sayi):
  fakto=1
  if(sayi==1 or sayi==0):
    print("Faktoriyeli= ", fakto)
  else:
    while (sayi>=1):
      fakto*=sayi
      sayi-=1
      print("Faktoriyeli",fakto)
      print(f"Faktoriyeli={fakto}")

faktoriyel(6)

Faktoriyeli 6
Faktoriyeli=6
Faktoriyeli 30
Faktoriyeli=30
Faktoriyeli 120
Faktoriyeli=120
Faktoriyeli 360
Faktoriyeli=360
Faktoriyeli 720
Faktoriyeli=720
Faktoriyeli 720
Faktoriyeli=720

In [2]:
def selamla(isim):
  print(isim)

In [8]:
def selamla(isim="isimsiz"):
  print(isim)
selamla()

isimsiz

In [9]:
k="Sena"
selamla(k)

Sena

In [12]:
def bilgileriGoster(ad="bilgi yok",soyad="bilgi yok",numara="bilgi yok"):
  print("Ad:",ad,"Soyad:",soyad,"Numara:",numara)
bilgileriGoster()
bilgileriGoster("Ali","Öztürk", "1234")

Ad: bilgi yok Soyad: bilgi yok Numara: bilgi yok
Ad: Ali Soyad: Öztürk Numara: 1234

In [13]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [14]:
help(bilgileriGoster)

Help on function bilgileriGoster in module __main__:

bilgileriGoster(ad='bilgi yok', soyad='bilgi yok', numara='bilgi yok')

In [ ]:
def toplama(a,b,c):
  print(a+b+c)
toplama(10,20,30)

In [15]:
print(*range(0,20))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [17]:
#*args: bir argument listesi alıyor ve tupel olarak hareket ediyor. * dan sonra istediğimiz kadar parametre verebiliriz, fakat tuple formatında çalışır.
def toplama(*sayilar):
  toplam=0
  print("sayilar:", sayilar, type(sayilar))
  for i in sayilar:
    toplam+=i
  print(toplam)
toplama(1,2,10,220)

sayilar: (1, 2, 10, 220) <class 'tuple'>
233

In [18]:
a=[1,2,3,4,5]
toplam=0
for i in a:
  toplam+=i
print(toplam)

15

In [23]:
def toplama(*sayilar): #tuple
  print("dsdsd:", sayilar, type(sayilar))
toplama("Elma", "Armut", 1,2,3,4)

dsdsd: ('Elma', 'Armut', 1, 2, 3, 4) <class 'tuple'>

In [32]:
def kwargs_func(**ali): #dictionary

  for key, value in ali.items():
    print(key, value)

In [33]:
kwargs_func(first="geeks", second="time", third="loop", alive=15)

first geeks
second time
third loop
alive 15

In [34]:
help(toplama )

Help on function toplama in module __main__:

toplama(*sayilar)

In [ ]:
def toplama(a,b):
  '''
  Bu fonksiyon iki sayıyı toplar
  '''
  print(a+b)

In [35]:
toplam=toplama(2,3)

dsdsd: (2, 3) <class 'tuple'>

In [36]:
type(toplam)

NoneType

In [44]:
def toplama(a,b):
  return a+b
toplama(2,3)
x=toplama(2,3)
type(x)

int

In [47]:
def ikiyle_carp(a):
  return a*2
k=ikiyle_carp(5)
print(k)

10

In [49]:
def ikiyle_carp(a):
  print("1. fonksiyon")
  return a*2
def toplama(a,b):
  print("2. fonksiyon")
  return a+b
def ucle_topla(a):
  print("3. fonksiyon")
  return a+3

In [50]:
print(ucle_topla(ikiyle_carp(toplama(2,3))))

2. fonksiyon
1. fonksiyon
3. fonksiyon
13

In [3]:
def func():
  a=10
  print(a)
func()

10

In [4]:
c=10 #global
def func():
  c=2 #local
  print(c)
func()
print(c)

2
10

In [6]:
liste=[1,2,3,4,5,8,9,0]
liste4=[(i*2) for i in liste]
liste4

[2, 4, 6, 8, 10, 16, 18, 0]

In [7]:
def ikiyle_carp(a):
  return a*2

In [11]:
ikiyle_carp2=lambda a:a*2   #yukarıdaki satırlarla aynı amacı taşır.

In [1]:
def tersinial(s):
  return s[::-1]
tersinial("Sena")

'aneS'

In [2]:
ters=lambda s:s[::-1]
ters("Sena")

'aneS'

In [4]:
def asal_mi(sayi):
  if(sayi==1):
    return False
  elif(sayi==2):
    return True
  else:
    for i in range(2,sayi):
      if(sayi%i==0):
        return False
    return True

In [8]:
while True:
  sayi=input("Sayı:")
  if(sayi=="q"):
    break
  else:
    sayi=int(sayi)
    if (asal_mi(sayi)):
      print("Sayi asaldir")
    else:
      print("Sayi asal degildir")

Sayı:5
Sayi asaldir
Sayı:8
Sayi asal degildir
Sayı:9
Sayi asal degildir
Sayı:q

In [9]:
def toplama():
  toplam=0
  for i in range(1,6):
    toplam+=i
  return toplam

In [12]:
lst = [lambda i=i: i+i for i in range(1, 6)]

for j in lst:
    print(j())

2
4
6
8
10

In [13]:
toplama()

15